body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* header section */
header {
  background-color: #333;
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

header img {
  height: 100%;
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

header li {
  margin-right: 3em;
}

header li a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  background-color: rgb(9, 91, 154);
  border: 1px solid rgb(9, 91, 154);
  border-radius: 20px;
  transition: background-color 0.3s ease;
  font-size: 16px;
  font-weight: bold;
}

